body {
    background-color: #151718;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 10px 10px;
    background-position: 2px 2px;
    background-attachment: fixed;

}
