:root {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  text-rendering: optimizeLegibility;
}

body {
  color: var(--mantine-color-gray-0);
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.05em;
  line-height: 1.15;
}
